@(accounts: List[Account], userUrl: String, id: Integer, contacts: List[AccountContact], userId: Integer, access: String, period: String)

@main {

	<h2>Generate Password</h2>

	@helper.form(action=routes.Application.generate()) {
	<table>
		<tr>
			<td>Company: </td>
			<td>
				<select name="company" id="company" onchange="this.form.submit()">
				@for(account <- accounts) {
					<option value="@account.id" @if(id == account.id) { selected="selected" }>
						@account.name
					</option>
				}
				</select>
			</td>
		</tr>
		<tr>
			<td>User: </td>
			<td>
				<select name="user" id="user">
				@for(contact <- contacts) {
					@if(null != contact.username && "" != contact.username) { 
						<option value="@contact.id" @if(userId == contact.id) { selected="selected" }>
							@contact.username
						</option>
					}
				}
				</select>
			</td>
		</tr>
		<tr>
			<td>Valid For: </td>
			<td>
				<select name="period" id="period">
					<option value="1" @if(period == "1") { selected="selected" }>1 Day</option>
					<option value="7" @if(period == "7") { selected="selected" }>1 Week</option>
					<option value="30" @if(period == "30") { selected="selected" }>1 Month</option>
					<option value="90" @if(period == "90") { selected="selected" }>3 Months</option>
					<option value="180" @if(period == "180") { selected="selected" }>6 Months</option>
					<option value="270" @if(period == "270") { selected="selected" }>9 Months</option>
					<option value="365" @if(period == "365") { selected="selected" }>1 Year</option>
					<option value="3650" @if(period == "3650") { selected="selected" }>Forever</option>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><input name="generate" id="generate" type="submit" value="Generate" /></td>
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		@if(userUrl != null) {
		<tr>
			<td>URL: </td>
			<td id="url"><a id="href" href="@userUrl" target="_blank">@userUrl</a></td>
		</tr>
		}
	</table>
	}
}
